.inicio-container {
    margin-top:2cm;
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 2rem;
    
  }
  
  .inicio-container h1 {
    font-size: 2.5rem;
    color: #3da07b; /* Verde principal */
    margin-bottom: 1rem;
  }
  
  .inicio-container p {
    font-size: 1rem;
    color: #666; /* Texto gris medio */
    margin-bottom: 2rem;
  }
  
  .modulos-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  
  .modulo {
    width: 200px;
    height: 250px;
    border: 2px solid #e0e0e0; /* Borde gris claro */
    border-radius: 10px;
    background-color: #ffffff; /* Fondo blanco */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .modulo:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Sombra más pronunciada al pasar el mouse */
  }
  
  .modulo img {
    width: 80px;
    height: 80px;
    margin-bottom: 1rem;
  }
  
  .modulo p {
    font-size: 1rem;
    color: #3da07b; /* Verde principal */
    font-weight: bold;
  }
  